.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .gridContainer {
    margin-bottom: 3.38rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}